@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <p style="font-size: 40px; font-family: sans-serif; color: rgb(123, 123, 53)"> Hello, what's up </p>
    <h1> Call us with this number: </h1>
    <h2> There is no number, xaxaxaxa </h2>
</div>