@using MiniShopMVC.Models.Entities
@{
    ViewData["Title"] = "Category Page";
    List<Category> categories = ViewBag.Categories;
}

<div class="text-center">
    <h1 class="display-4">Category Page</h1>
    <p>Welcome to the Category Page of MiniShopMVC!</p>
    <div class="mb-3 text-end">
        <a href="@Url.Action("Create", "Category")" class="btn btn-primary">
            Добавить категорию
        </a>
    </div>
    
    @await Html.PartialAsync("_CategoryList", categories)
</div>