@model MiniShopMVC.Models.CategoryUpdateViewModel;

@{
        ViewData["Title"] = "Update Category";
        var updateCategory = ViewBag.UpdateCategory;
}

<h2 class="mb-4"> Update Category </h2>

<form asp-controller="Category" asp-action="SaveUpdate" method="post">
        
        <div class="mb-3">
                <input asp-for="Id" type="hidden" value="@updateCategory.Id" class="form-control"/>
        </div>
        <div class="mb-3">
                <label asp-for="Name" class="form-label">Название категории</label>
                <input asp-for="Name" value="@updateCategory.Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"> </span>
        </div>
        <div class="mb-3">
                <label asp-for="Description" class="form-label"> About Category </label>
                <input asp-for="Description" value="@updateCategory.Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"> </span>
        </div>

        <button type="submit" class="btn btn-primary"> Update </button>
        <a asp-action="Index" class="btn btn-secondary ms-2"> Cancel </a>
</form>